@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    color: black;
    font-size: 1vw;
}

.logo {
    width: 30vw;
}

.logo a img {
    margin-left: 2vw;
    width: 25vw;
    height: auto;
}

.psd img {
    float: right;
    width: 50vw;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.cuerpo h1 {
    text-align: center;
    background-color: #FF914D;
    width: 38vw;
    margin-left: 31vw;
    border-radius: 2.6vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

.cuerpo img {
    float: left;
    margin-left: 30vw;
    width: 18vw;
    height: auto;
    position: absolute;
}

.cuerpo h2 {
    margin-top: 5.5vw;
    text-align: right;
    margin-right: 20vw;
    font-family: 'Roboto', sans-serif;
}

.redes {
    display: flex;
    justify-content: flex-end;
    padding-right: 24vw;
}

.redes .instagram {
    right: 0;
    margin-right: 23vw;
}

.redes a img {
    width: 2vw;
    height: auto;
    border-radius: 50%;
    margin-left: 2vw;
}

.pii img {
    float: right;
    width: 50vw;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (max-width: 1360px) {
    body {
        padding: 1vw;
    }

    .logo {
        width: 20vw;
        display: flex;
        justify-content: center;
        padding: 2vw 0;
        margin-left: 7vw;
    }

    .logo a img {
        margin-left: 0;
        width: 20vw;
        height: auto;
    }

    .psd img {
        width: 50vw;
        float: none;
        top: 0;
        right: 0;
    }

    .cuerpo h1 {
        width: 50vw;
        margin: 1vw auto;
        font-size: 3vw;
    }

    .cuerpo img {
        float: left;
        width: 19vw;
        position: relative;
        display: block;
        left: 0;
        margin-left: 25vw;
        margin-right: 0;
    }

    .cuerpo h2 {
        margin-top: 5.5vw;
        font-size: 1.6vw;
        float: right;
        margin-right: 20vw; 
    }

    .redes {
        padding-right: 0;
        padding: 1vw 0;
        margin-left: 10vw;
        float: right;
        margin-right: 21vw;
    }

    .redes .facebook {
        width: 2vw;
        right: 0;
    }

    .redes .instagram {
        width: 2vw;
        right: 0;
        margin-right: 0;
    }

    .pii img {
        width: 50vw;
        float: none;
        position: absolute;
        left: 0;
    }
}

@media only screen and (max-width: 587px) {
    body {
        padding: 1vw;
    }

    .logo {
        width: 50vw;
        display: flex;
        justify-content: center;
        padding: 1vw 0;
        margin-left: 10vw;
    }

    .logo a img {
        margin-left: 0;
        width: 60vw;
        height: auto;
    }

    .psd img {
        width: 90vw;
        float: none;
        top: 0;
        right: 0;
    }

    .cuerpo h1 {
        width: 90vw;
        margin: 1vw auto;
        font-size: 3.8vw;
    }

    .cuerpo img {
        float: none;
        margin: 1vw auto;
        width: 45vw;
        position: relative;
        display: block;
    }

    .cuerpo h2 {
        margin-top: 10vw;
        text-align: center;
        margin: 5vw auto 2vw auto;
        font-size: 4vw;
        float: none;
    }

    .redes {
        padding-right: 0;
        padding: 1vw 0;
        margin-left: 44vw;
        float: none;
        width: 20vw;
    }

    .redes .facebook {
        width: 5vw;
        right: 0;
    }

    .redes .instagram {
        width: 5vw;
        right: 0;
        margin-right: 9.5vw;
    }

    .pii img {
        width: 90vw;
        float: none;
        left: 0;    
    }
}

@media only screen and (min-height: 700px) and (max-width: 500px) {
    .cuerpo img {
        width: 60vw;
        margin-top: 7vh;
    }

    .cuerpo h2 {
        font-size: 6vw;
    }

    .cuerpo h1 {
        font-size: 7vw;
    }

    .redes a {
        margin-top: 3vw;
    }

    .redes img {
        margin-top: 3vw;
    }
}

@media only screen and (min-height: 1023px) and (max-height: 1369px) and (min-width: 767px) and (max-width: 1025px) {
    .cuerpo img {
        width: 50vw;
    }

    .cuerpo h2 {
        text-align: center;
        font-size: 5vw;
        margin: 7vw 13vw;
    }

    .cuerpo h1 {
        font-size: 4vw;
    }

    .redes {
        width: 100%;
        height: auto;
        padding-right: 19.5vw !important;
    }

    .redes img {
        width: 8vw !important; 
    }
}
