@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    color: black;
}

.logo {
    width: 30%;
}

.logo a img {
    margin-left: 30px;
    width: 300px;
    height: auto;
}

.psd img {
    float: right;
    width: 50%;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
}

.cuerpo h1 {
    text-align: center;
    background-color: #FF914D;
    width: 38%;
    margin-left: 31%;
    border-radius: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cuerpo img {
    float: left;
    margin-left: 410px;
    width: 300px;
    height: auto;
    position: absolute;
}

.cuerpo h2 {
    margin-top: 80px;
    text-align: right;
    margin-right: 200px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.redes {
    display: flex;
    justify-content: flex-end;
    padding-right: 200px;
}

.redes a img {
    width: 40px;
    height: auto;
    border-radius: 20px;
    margin-left: 20px;
}

.pii img {
    float: right;
    width: 50%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Estilos específicos para dispositivos móviles */
@media only screen and (max-width: 768px) {
    body {
        padding: 10px;
    }

    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .logo a img {
        margin-left: 0;
        width: 70%;
        height: auto;
    }

    .psd img {
        width: 90%;
        float: none;
        position: relative;
        margin: 10px auto;
    }

    .cuerpo h1 {
        width: 90%;
        margin: 10px auto;
        font-size: 18px;
    }

    .cuerpo img {
        float: none;
        margin: 10px auto;
        width: 90%;
        position: relative;
        display: block;
    }

    .cuerpo h2 {
        text-align: center;
        margin: 20px auto;
        font-size: 20px;
    }

    .redes {
        justify-content: center;
        padding-right: 0;
        padding: 10px 0;
    }

    .redes a img {
        width: 30px;
        margin-left: 10px;
    }

    .pii img {
        width: 90%;
        float: none;
        position: relative;
        margin: 10px auto;
    }
}
